<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= site.description %>">
  <meta name="keywords" content="the noah, projects, code, voxel, voxel game, voxel engine, game, c++, cpp, program, programming">
  <meta name="author" content="The Noah">
  <meta property="og:description" content="<%= site.description %>">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="<%= site.title %>">
  <meta property="og:site_name" content="<%= site.title %>">
  <meta property="og:url" content="<%= site.url %>">
  <meta property="og:image" content="<%= site.url %>/favicon.ico">
  <meta property="og:image:type" content="image/vnd.microsoft.icon">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title><%= site.title %></title>
  <style><%- css.style -%></style>
</head>
<body>
  <div class="background"></div>
  <div class="background-overlay"></div>
  <!-- <div class="hero">
    <svg viewbox="0 0 31 5" xmlns="http://www.w3.org/2000/svg"><path fill="#FFF" d="M0 1h1v3H0zm1-1h2v1H1zm0 4h2v1H1zm3-4h1v5H4zm1 0h1v1H5zm1 1h1v1H6zM5 2h1v1H5zm3-2h1v5H8zm1 0h1v1H9zm1 1h1v1h-1zM9 2h1v1H9zm3-2h1v4h-1zm2 0h1v4h-1zm-1 4h1v1h-1zm4-4h1v1h-1zm-1 1h1v3h-1zm2 0h1v3h-1zm-1 3h1v1h-1zm3-4h1v2h-1zm0 3h1v2h-1zm2-3h1v2h-1zm0 3h1v2h-1zm-1-1h1v1h-1zm3-2h1v5h-1zm1 0h2v1h-2zm0 4h2v1h-2zm0-2h1v1h-1zm3-2h1v5h-1zm1 4h2v1h-2z"/></svg>
    <p>The Noah's voxel engine</p>
  </div>
  <main>
    <h1><%= site.description %></h1>
    <p>Insane speed, high render distance, and cool terrain are the goals of this project.</p>
    <a class="btn" href="https://www.dropbox.com/s/fmsf1zpyyzzclw9/cppvoxel.exe?dl=1" rel="noopener noreferrer">Download</a>
    <div class="features">
      <% features.forEach((feature, i) => { %>
        <div>
          <h2><%= feature.title %></h2>
          <p><%= feature.text %></p>
        </div>
      <% }); %>
    </div>
  </main>
  <footer>Copyright &copy; 2020 The Noah</footer> -->
  <header>
    <svg viewBox="0 0 1596 264" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0" y="0" width="1596" height="264" fill="black"><rect fill="white" width="1596" height="264"/><path d="M55.2 4H157.6V55.2H55.2V4Z"/><path d="M55.2 208.8H4V55.2L55.2 55.2V208.8Z"/><path d="M55.2 208.8L157.6 208.8V260H55.2V208.8Z"/><path d="M208.8 260V4H311.2V55.2H260V106.4H311.2V157.6H260L260 260H208.8Z"/><path d="M311.2 106.4V55.2L362.4 55.2V106.4L311.2 106.4Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M413.6 4V260H464.8L464.8 157.6H516V106.4L567.2 106.4V55.2L516 55.2V4H413.6ZM516 55.2V106.4H464.8V55.2H516Z"/><path d="M618.4 4H669.6V208.8H618.4V4Z"/><path d="M720.8 208.8V260H669.6V208.8H720.8Z"/><path d="M720.8 208.8V4H772V208.8H720.8Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M925.6 4H874.4V55.2L823.2 55.2V208.8H874.4V260H925.6L925.6 208.8H976.8V55.2L925.6 55.2V4ZM925.6 55.2L925.6 208.8H874.4V55.2H925.6Z"/><path d="M1028 4H1079.2V106.4H1028V4Z"/><path d="M1130.4 106.4L1079.2 106.4V157.6H1028V260H1079.2V157.6H1130.4V260H1181.6V157.6H1130.4V106.4Z"/><path d="M1130.4 106.4V4H1181.6V106.4L1130.4 106.4Z"/><path d="M1232.8 4V260L1386.4 260V208.8H1284V157.6H1335.2V106.4H1284V55.2H1386.4V4H1232.8Z"/><path d="M1437.6 4H1488.8V208.8H1591.2V260L1437.6 260V4Z"/></mask><path d="M55.2 4H157.6V55.2H55.2V4Z" fill="white"/><path d="M55.2 208.8H4V55.2L55.2 55.2V208.8Z" fill="white"/><path d="M55.2 208.8L157.6 208.8V260H55.2V208.8Z" fill="white"/><path d="M208.8 260V4H311.2V55.2H260V106.4H311.2V157.6H260L260 260H208.8Z" fill="white"/><path d="M311.2 106.4V55.2L362.4 55.2V106.4L311.2 106.4Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M413.6 4V260H464.8L464.8 157.6H516V106.4L567.2 106.4V55.2L516 55.2V4H413.6ZM516 55.2V106.4H464.8V55.2H516Z" fill="white"/><path d="M618.4 4H669.6V208.8H618.4V4Z" fill="white"/><path d="M720.8 208.8V260H669.6V208.8H720.8Z" fill="white"/><path d="M720.8 208.8V4H772V208.8H720.8Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M925.6 4H874.4V55.2L823.2 55.2V208.8H874.4V260H925.6L925.6 208.8H976.8V55.2L925.6 55.2V4ZM925.6 55.2L925.6 208.8H874.4V55.2H925.6Z" fill="white"/><path d="M1028 4H1079.2V106.4H1028V4Z" fill="white"/><path d="M1130.4 106.4L1079.2 106.4V157.6H1028V260H1079.2V157.6H1130.4V260H1181.6V157.6H1130.4V106.4Z" fill="white"/><path d="M1130.4 106.4V4H1181.6V106.4L1130.4 106.4Z" fill="white"/><path d="M1232.8 4V260L1386.4 260V208.8H1284V157.6H1335.2V106.4H1284V55.2H1386.4V4H1232.8Z" fill="white"/><path d="M1437.6 4H1488.8V208.8H1591.2V260L1437.6 260V4Z" fill="white"/><path d="M157.6 4H161.6V0H157.6V4ZM55.2 4V0H51.2V4H55.2ZM157.6 55.2V59.2H161.6V55.2H157.6ZM4 208.8H0V212.8H4V208.8ZM4 55.2L4 51.2L0 51.2V55.2H4ZM157.6 208.8H161.6V204.8L157.6 204.8L157.6 208.8ZM157.6 260V264H161.6V260H157.6ZM55.2 260H51.2V264H55.2V260ZM208.8 4V0H204.8V4H208.8ZM208.8 260H204.8V264H208.8V260ZM311.2 4H315.2V0H311.2V4ZM260 55.2V51.2H256V55.2H260ZM260 106.4H256V110.4H260V106.4ZM311.2 157.6V161.6H315.2V157.6H311.2ZM260 157.6V153.6H256L256 157.6L260 157.6ZM260 260V264H264L264 260L260 260ZM362.4 55.2H366.4V51.2L362.4 51.2L362.4 55.2ZM362.4 106.4L362.4 110.4L366.4 110.4V106.4H362.4ZM413.6 260H409.6V264H413.6V260ZM413.6 4V0H409.6V4H413.6ZM464.8 260V264H468.8L468.8 260L464.8 260ZM464.8 157.6V153.6H460.8L460.8 157.6L464.8 157.6ZM516 157.6V161.6H520V157.6H516ZM567.2 106.4L567.2 110.4L571.2 110.4V106.4H567.2ZM567.2 55.2H571.2V51.2L567.2 51.2L567.2 55.2ZM516 4H520V0H516V4ZM464.8 106.4H460.8V110.4H464.8V106.4ZM464.8 55.2V51.2H460.8V55.2H464.8ZM669.6 4H673.6V0H669.6V4ZM618.4 4V0H614.4V4H618.4ZM618.4 208.8H614.4V212.8H618.4V208.8ZM720.8 260V264H724.8V260H720.8ZM669.6 260H665.6V264H669.6V260ZM720.8 4V0H716.8V4H720.8ZM772 4H776V0H772V4ZM772 208.8V212.8H776V208.8H772ZM874.4 4V0H870.4V4H874.4ZM925.6 4H929.6V0H925.6V4ZM823.2 55.2L823.2 51.2L819.2 51.2V55.2H823.2ZM823.2 208.8H819.2V212.8H823.2V208.8ZM874.4 260H870.4V264H874.4V260ZM925.6 260V264H929.6L929.6 260L925.6 260ZM976.8 208.8V212.8H980.8V208.8H976.8ZM976.8 55.2H980.8V51.2L976.8 51.2L976.8 55.2ZM1079.2 4H1083.2V0H1079.2V4ZM1028 4V0H1024V4H1028ZM1028 106.4H1024V110.4H1028V106.4ZM1028 157.6V153.6H1024V157.6H1028ZM1028 260H1024V264H1028V260ZM1079.2 260V264H1083.2V260H1079.2ZM1130.4 260H1126.4V264H1130.4V260ZM1181.6 260V264H1185.6V260H1181.6ZM1181.6 157.6H1185.6V153.6H1181.6V157.6ZM1130.4 4V0H1126.4V4H1130.4ZM1181.6 4H1185.6V0H1181.6V4ZM1181.6 106.4L1181.6 110.4L1185.6 110.4V106.4H1181.6ZM1232.8 260H1228.8V264L1232.8 264L1232.8 260ZM1232.8 4V0H1228.8V4H1232.8ZM1386.4 260L1386.4 264L1390.4 264V260H1386.4ZM1386.4 208.8H1390.4V204.8H1386.4V208.8ZM1284 208.8H1280V212.8H1284V208.8ZM1284 157.6V153.6H1280V157.6H1284ZM1335.2 157.6V161.6H1339.2V157.6H1335.2ZM1335.2 106.4H1339.2V102.4H1335.2V106.4ZM1284 106.4H1280V110.4H1284V106.4ZM1284 55.2V51.2H1280V55.2H1284ZM1386.4 55.2V59.2H1390.4V55.2H1386.4ZM1386.4 4H1390.4V0H1386.4V4ZM1488.8 4H1492.8V0H1488.8V4ZM1437.6 4V0H1433.6V4H1437.6ZM1488.8 208.8H1484.8V212.8H1488.8V208.8ZM1591.2 208.8H1595.2V204.8H1591.2V208.8ZM1591.2 260L1591.2 264L1595.2 264V260H1591.2ZM1437.6 260H1433.6V264L1437.6 264L1437.6 260ZM157.6 0H55.2V8H157.6V0ZM161.6 55.2V4H153.6V55.2H161.6ZM55.2 59.2H157.6V51.2H55.2V59.2ZM51.2 4V55.2H59.2V4H51.2ZM4 212.8H55.2V204.8H4V212.8ZM0 55.2V208.8H8V55.2H0ZM55.2 51.2L4 51.2L4 59.2L55.2 59.2L55.2 51.2ZM59.2 208.8V55.2H51.2V208.8H59.2ZM157.6 204.8L55.2 204.8L55.2 212.8L157.6 212.8L157.6 204.8ZM161.6 260V208.8H153.6V260H161.6ZM55.2 264H157.6V256H55.2V264ZM51.2 208.8V260H59.2V208.8H51.2ZM204.8 4V260H212.8V4H204.8ZM311.2 0H208.8V8H311.2V0ZM315.2 55.2V4H307.2V55.2H315.2ZM260 59.2H311.2V51.2H260V59.2ZM264 106.4V55.2H256V106.4H264ZM311.2 102.4H260V110.4H311.2V102.4ZM315.2 157.6V106.4H307.2V157.6H315.2ZM260 161.6H311.2V153.6H260V161.6ZM264 260L264 157.6L256 157.6L256 260L264 260ZM208.8 264H260V256H208.8V264ZM307.2 55.2V106.4H315.2V55.2H307.2ZM362.4 51.2L311.2 51.2L311.2 59.2L362.4 59.2L362.4 51.2ZM366.4 106.4V55.2H358.4V106.4H366.4ZM311.2 110.4L362.4 110.4L362.4 102.4L311.2 102.4L311.2 110.4ZM417.6 260V4H409.6V260H417.6ZM464.8 256H413.6V264H464.8V256ZM460.8 157.6L460.8 260L468.8 260L468.8 157.6L460.8 157.6ZM516 153.6H464.8V161.6H516V153.6ZM512 106.4V157.6H520V106.4H512ZM567.2 102.4L516 102.4L516 110.4L567.2 110.4L567.2 102.4ZM563.2 55.2V106.4H571.2V55.2H563.2ZM516 59.2L567.2 59.2L567.2 51.2L516 51.2L516 59.2ZM512 4V55.2H520V4H512ZM413.6 8H516V0H413.6V8ZM520 106.4V55.2H512V106.4H520ZM464.8 110.4H516V102.4H464.8V110.4ZM460.8 55.2V106.4H468.8V55.2H460.8ZM516 51.2H464.8V59.2H516V51.2ZM669.6 0H618.4V8H669.6V0ZM673.6 208.8V4H665.6V208.8H673.6ZM618.4 212.8H669.6V204.8H618.4V212.8ZM614.4 4V208.8H622.4V4H614.4ZM724.8 260V208.8H716.8V260H724.8ZM669.6 264H720.8V256H669.6V264ZM665.6 208.8V260H673.6V208.8H665.6ZM720.8 204.8H669.6V212.8H720.8V204.8ZM716.8 4V208.8H724.8V4H716.8ZM772 0H720.8V8H772V0ZM776 208.8V4H768V208.8H776ZM720.8 212.8H772V204.8H720.8V212.8ZM874.4 8H925.6V0H874.4V8ZM878.4 55.2V4H870.4V55.2H878.4ZM823.2 59.2L874.4 59.2L874.4 51.2L823.2 51.2L823.2 59.2ZM827.2 208.8V55.2H819.2V208.8H827.2ZM874.4 204.8H823.2V212.8H874.4V204.8ZM878.4 260V208.8H870.4V260H878.4ZM925.6 256H874.4V264H925.6V256ZM921.6 208.8L921.6 260L929.6 260L929.6 208.8L921.6 208.8ZM925.6 212.8H976.8V204.8H925.6V212.8ZM980.8 208.8V55.2H972.8V208.8H980.8ZM976.8 51.2L925.6 51.2L925.6 59.2L976.8 59.2L976.8 51.2ZM921.6 4V55.2H929.6V4H921.6ZM921.6 55.2L921.6 208.8L929.6 208.8L929.6 55.2L921.6 55.2ZM874.4 212.8H925.6V204.8H874.4V212.8ZM870.4 55.2V208.8H878.4V55.2H870.4ZM925.6 51.2H874.4V59.2H925.6V51.2ZM1079.2 0H1028V8H1079.2V0ZM1083.2 106.4V4H1075.2V106.4H1083.2ZM1028 110.4H1079.2V102.4H1028V110.4ZM1024 4V106.4H1032V4H1024ZM1130.4 102.4L1079.2 102.4L1079.2 110.4L1130.4 110.4L1130.4 102.4ZM1075.2 106.4V157.6H1083.2V106.4H1075.2ZM1079.2 153.6H1028V161.6H1079.2V153.6ZM1024 157.6V260H1032V157.6H1024ZM1028 264H1079.2V256H1028V264ZM1083.2 260V157.6H1075.2V260H1083.2ZM1079.2 161.6H1130.4V153.6H1079.2V161.6ZM1126.4 157.6V260H1134.4V157.6H1126.4ZM1130.4 264H1181.6V256H1130.4V264ZM1185.6 260V157.6H1177.6V260H1185.6ZM1181.6 153.6H1130.4V161.6H1181.6V153.6ZM1134.4 157.6V106.4H1126.4V157.6H1134.4ZM1126.4 4V106.4H1134.4V4H1126.4ZM1181.6 0H1130.4V8H1181.6V0ZM1185.6 106.4V4H1177.6V106.4H1185.6ZM1130.4 110.4L1181.6 110.4L1181.6 102.4L1130.4 102.4L1130.4 110.4ZM1236.8 260V4H1228.8V260H1236.8ZM1386.4 256L1232.8 256L1232.8 264L1386.4 264L1386.4 256ZM1382.4 208.8V260H1390.4V208.8H1382.4ZM1284 212.8H1386.4V204.8H1284V212.8ZM1280 157.6V208.8H1288V157.6H1280ZM1335.2 153.6H1284V161.6H1335.2V153.6ZM1331.2 106.4V157.6H1339.2V106.4H1331.2ZM1284 110.4H1335.2V102.4H1284V110.4ZM1280 55.2V106.4H1288V55.2H1280ZM1386.4 51.2H1284V59.2H1386.4V51.2ZM1382.4 4V55.2H1390.4V4H1382.4ZM1232.8 8H1386.4V0H1232.8V8ZM1488.8 0H1437.6V8H1488.8V0ZM1492.8 208.8V4H1484.8V208.8H1492.8ZM1591.2 204.8H1488.8V212.8H1591.2V204.8ZM1595.2 260V208.8H1587.2V260H1595.2ZM1437.6 264L1591.2 264L1591.2 256L1437.6 256L1437.6 264ZM1433.6 4V260H1441.6V4H1433.6Z" fill="black" mask="url(#path-1-outside-1)"/></svg>
    <div>The Noah's Voxel Engine</div>
  </header>
  <main>
    <h1>Custom Voxel Engine With High Hopes</h1>
    <p>Insane speed, high render distance, and cool terrain are the goals of this project.</p>
    <a class="download" href="https://www.dropbox.com/s/fmsf1zpyyzzclw9/cppvoxel.exe?dl=1" rel="noopener noreferrer">
      <img src="icon.png">Download
    </a>
  </main>
  <div class="cards">
    <% features.forEach((feature, i) => { %>
      <div>
        <h1><%= feature.title %></h1>
        <p><%= feature.text %></p>
      </div>
    <% }); %>
  </div>
</body>
</html>
