<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= site.description %>">
  <meta name="keywords" content="the noah, projects, code, voxel, voxel game, voxel engine, game, c++, cpp, program, programming">
  <meta name="author" content="The Noah">
  <meta property="og:description" content="<%= site.description %>">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="<%= site.title %>">
  <meta property="og:site_name" content="<%= site.title %>">
  <meta property="og:url" content="<%= site.url %>">
  <meta property="og:image" content="<%= site.url %>/favicon.ico">
  <meta property="og:image:type" content="image/vnd.microsoft.icon">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title><%= site.title %></title>
  <style><%- css.style -%></style>
</head>
<body>
  <div class="hero">
    <svg viewbox="0 0 31 5" xmlns="http://www.w3.org/2000/svg"><path fill="#FFF" d="M0 1h1v3H0zm1-1h2v1H1zm0 4h2v1H1zm3-4h1v5H4zm1 0h1v1H5zm1 1h1v1H6zM5 2h1v1H5zm3-2h1v5H8zm1 0h1v1H9zm1 1h1v1h-1zM9 2h1v1H9zm3-2h1v4h-1zm2 0h1v4h-1zm-1 4h1v1h-1zm4-4h1v1h-1zm-1 1h1v3h-1zm2 0h1v3h-1zm-1 3h1v1h-1zm3-4h1v2h-1zm0 3h1v2h-1zm2-3h1v2h-1zm0 3h1v2h-1zm-1-1h1v1h-1zm3-2h1v5h-1zm1 0h2v1h-2zm0 4h2v1h-2zm0-2h1v1h-1zm3-2h1v5h-1zm1 4h2v1h-2z"/></svg>
    <p>The Noah's voxel engine</p>
  </div>
  <main>
    <h1><%= site.description %></h1>
    <p>Insane speed, high render distance, and cool terrain are the goals of this project.</p>
    <a class="btn" href="https://www.dropbox.com/s/fmsf1zpyyzzclw9/cppvoxel.exe?dl=1" rel="noopener noreferrer">Download</a>
    <div class="features">
      <% features.forEach((feature, i) => { %>
        <div>
          <h2><%= feature.title %></h2>
          <p><%= feature.text %></p>
        </div>
      <% }); %>
    </div>
  </main>
  <footer>Copyright &copy; 2020 The Noah</footer>
</body>
</html>